# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu toolhead]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_32002A000F504D5930313920-if00
#canbus_uuid: 0e0d81e4210c

#[adxl345]
#cs_pin: toolhead: PB12
#spi_bus: spi2_PB2_PB11_PB10
#axes_map: x,y,z

[fan]
pin: toolhead: PA0
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: toolhead: PA1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
