# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu toolhead]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_32002A000F504D5930313920-if00
#canbus_uuid: b66bfbc470dd
canbus_uuid: 6bd6092dadf7

#[adxl345]
#cs_pin: toolhead: PB12
#spi_bus: spi2_PB2_PB11_PB10
#axes_map: x,y,z

[fan]
pin: toolhead: PA1
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: toolhead: PA0
heater: extruder
heater_temp: 1
fan_speed: 1

[temperature_sensor temperature_EBB]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp: 0
max_temp: 100

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

[filament_switch_sensor switch_sensor]
switch_pin: ^toolhead: PB6
pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#immediate_runout_gcode:
#   A list of G-Code commands to execute immediately after a filament
#   runout is detected and runout_distance is greater than 0.
#   See docs/Command_Templates.md for G-Code format.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
runout_distance: 100
#   Defines how much filament can still be pulled after the
#   switch sensor triggered (e.g. you have a 60cm reverse bowden between your
#   extruder and your sensor, you would then set runout_distance to something
#   like 590 to leave a small safety margin and now the print will not
#   immediately pause when the sensor triggers but rather keep printing until
#   the filament is at the extruder). The default is 0 millimeters.
event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#debounce_delay:
#   A period of time in seconds to debounce events prior to running the
#   switch gcode. The switch must he held in a single state for at least
#   this long to activate. If the switch is toggled on/off during this delay,
#   the event is ignored. Default is 0.
#check_on_print_start:
#   If set to true, the sensor will be reevaluated when a print starts and if
#   no filament is detected the runout_gcode will be run no matter the defined
#   runout_distance(immediate_runout_gcode will not be run in this case)