[input_shaper]
#shaper_type:
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are smooth_zv, smooth_mzv, smooth_ei, smooth_2hump_ei, smooth_zvd_ei,
#   smooth_si, mzv, ei, 2hump_ei.
shaper_type_x: smooth_mzv
# max accel x 11600
shaper_type_y: smooth_mzv
# max accel x 3500
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
smoother_freq_x: 63.8
#  A frequency (in Hz) of the smooth input shaper for X axis.
smoother_freq_y: 41
#  A frequency (in Hz) of the smooth input shaper for Y axis.
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.
#   Note: Damping ratios are not currently supported for input smoothers.

#[input_shaper]
#shaper_freq_x: 123.6
#shaper_type_x: 2hump_ei
#shaper_freq_y: 41 
#shaper_type_y: ei

#10500 Input Shaper X

#3900 Input Shaper Y