#####################################################################
#   Macros
#####################################################################
[gcode_macro PREHEAT_HOTEND]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=145

[gcode_macro PREHEAT_BED]
gcode:
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=75

[gcode_macro MPC_HOTEND]
gcode:
   MPC_CALIBRATE HEATER=extruder TARGET=240

[gcode_macro PID_BED]
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=70

[gcode_macro Home]
gcode:
    g28

[gcode_macro Z_Offset_Touch]
gcode:
    CARTOGRAPHER_SCAN_CALIBRATE METHOD=touch

# Klipper Back up
[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[save_variables]
filename: ~/printer_data/config/variables.cfg

[z_tilt]
z_positions:
    -23, 93
    273, 93
points:
    20, 120   
    210, 120    
speed: 200
horizontal_move_z: 10
min_horizontal_move_z: 5
adaptive_horizontal_move_z: true
retries: 20
retry_tolerance: 0.01
use_probe_xy_offsets: True

[screws_tilt_adjust]  #screws_tilt_calculate to calibrate  

# Reference Screw
screw1: 90, 98  # # Mid Center Left

screw2: 25, -1   # Front Left
screw3: 79, -2
screw4: 159, -2
screw5: 215, -2   # Front Right

screw6: 215, 97   # Mid Right
screw7: 151, 97   
#Reference screw
#screw7: 88, 107  
screw8: 25, 98     # Mid Left

screw9: 26, 198   # Back Left
screw10: 146, 199
screw11: 216, 196   # Back Right

horizontal_move_z: 2.5
speed: 50
screw_thread: CCW-M4 #measure the diameter of your adjustment screw

#Autospeed MACROS
#AUTO_SPEED_GRAPH
#AUTO_SPEED
#AUTO_SPEED_ACCEL