#####################################################################
#   Macros
#####################################################################
[gcode_macro PREHEAT_RAPID_PLA]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200

[gcode_macro PREHEAT_PETG]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=170

[gcode_macro PREHEAT_BED_RAPID]
gcode:
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=70

#RPLA Black
#[gcode_macro MPC_HOTEND]
#gcode:
    #MPC_CALIBRATE HEATER=extruder TARGET=250
   
#RPLA Yellow, Orange
#[gcode_macro MPC_HOTEND]
#gcode:
   #MPC_CALIBRATE HEATER=extruder TARGET=235

#RPLA Brown
[gcode_macro MPC_HOTEND]
gcode:
   MPC_CALIBRATE HEATER=extruder TARGET=230

#RPETG Black/Red
#[gcode_macro MPC_HOTEND]
#gcode:
    #MPC_CALIBRATE HEATER=extruder TARGET=245

[gcode_macro PID_BED]
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=70

[gcode_macro Home]
gcode:
    g28

[gcode_macro Z_Offset]
gcode:
    CARTOGRAPHER_SCAN_CALIBRATE

# Spoolman
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

# Klipper Back up
[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[z_tilt]
z_positions:
    -24, 95
    3, 95
# See [z_tilt]. This parameter must be provided,
#   unless the parameter "extra_points" is provided. In that case only
#   the command Z_TILT_AUTODETECT can be run to automatically determine
#   the z_positions. See 'extra_points' below.
#z_offsets:
#   A list of Z offsets for each z_position. The z_offset is added to each
#   probed value during Z_TILT_ADJUST to offset for unevenness of the bed.
#   This values can also be automatically detected by running
#   Z_TILT_CALIBRATE. See "extra_points" below.
points:
    25, 132   
    225, 132    
speed: 250
# See [z_tilt]
horizontal_move_z: 10
# See [z_tilt]
min_horizontal_move_z: 5
# See [z_tilt]
adaptive_horizontal_move_z: true
# See [z_tilt]
retries: 20
# See [z_tilt]
retry_tolerance: 0.01
# See [z_tilt]
#increasing_threshold: 1
# See [z_tilt]
use_probe_xy_offsets: True
# See [z_tilt]
#enforce_lift_speed: False
# See [z_tilt]

[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 3
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 25
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 220
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 113
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 25
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 220
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 113
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.

[screws_tilt_adjust]  #screws_tilt_calculate to calibrate  

# Reference Screw
screw1:-14, 114 

# Front row
screw2: -14, 12     # Front Left
screw3: 41, 12
screw4: 120, 12     
screw5: 173, 12     # Front Right

# Middle Row
screw6: 173, 114    # Mid Right 
screw7: 108, 114    
screw8: 48, 114      
#screw8: -14, 114    # Mid Left
#Reference screw8:-14, 114

# Back Row
screw9: -14, 208    # Back Left 
screw10: 102, 208      
screw11: 173, 208   # Back Right  

horizontal_move_z: 2.5
speed: 100
screw_thread: CW-M3 #measure the diameter of your adjustment screw

#Autospeed MACROS
#AUTO_SPEED_GRAPH
#AUTO_SPEED
#AUTO_SPEED_ACCEL