[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    # how far to drop the bed for print removal (clamped to Z max)
    {% set z_drop = [th.position.z + 100, th.axis_maximum.z]|min %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament

    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; small lift + move to break stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park at rear center
    M107                                     ; turn off part fan

    G0 Z{z_drop} F3000             ; drop bed for easy print removal
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0


# [gcode_macro END_PRINT] CR6se
# gcode:
#    # Turn off bed, extruder, and fan
#     M140 S0
#     M104 S0
#     M106 S0
#     # Move nozzle away from print while retracting 5mm filament
#     G91
#     G1 X-2 Y-2 E-5 F300
#     # Raise nozzle by 30mm
#     G1 Z30 F3000
#     G90
#     # Disable steppers
#     M84