# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.

[include EBB42.cfg]
[include mainsail.cfg]
[include input shaper.cfg]
[include adxl cartographer.cfg]
#[include adxl bed.cfg]
[exclude_object]
[include gcode arcs.cfg]
[include START_PRINT.cfg]
#[include END_PRINT.cfg]
#[include SHAKETUNE.cfg]
[include macros.cfg]
#[include Speed Test.cfg]
[include spoolman_macros.cfg]

# Driver0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: PG6
#endstop_pin: ^toolhead: PB3
position_min: -23
position_endstop: -23
position_max: 240
homing_speed: 75

# Driver1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9
position_min: -16
position_endstop: -16
position_max: 240
homing_speed: 75

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 245
homing_retract_dist: 0

# Driver3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 8

[extruder]
max_extrude_only_distance: 1000.0
step_pin: toolhead: PD0
dir_pin: !toolhead: PD1
enable_pin: !toolhead: PD2
heater_pin: toolhead: PB13
sensor_pin: toolhead: PA3
rotation_distance: 4.5245834 #SET_EXTRUDER_ROTATION_DISTANCE EXTRUDER=extruder DISTANCE=4.54732
microsteps: 16
nozzle_diameter: 0.600
filament_diameter: 1.750
#control: mpc
heater_power: 39
cooling_fan: fan
                                      
filament_diameter: 1.75
filament_density: 1.29
filament_heat_capacity: 1.2

min_temp: 0
max_temp: 300
sensor_type: Generic 3950
min_extrude_temp: 0
max_extrude_cross_section: 50

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_Kp: 63.970
#pid_Ki: 1.143
#pid_Kd: 894.783
min_temp: 0
max_temp: 130

[temperature_sensor pi_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[multi_pin my_controller_fan_pins]
pins: PA8, PD12 # fans 0 & 1

[controller_fan my_controller_fan]
pin: multi_pin:my_controller_fan_pins
max_power: .8
shutdown_speed: 1
cycle_time: .1
hardware_pwm: false
kick_start_time: .1
#off_below: 0
#   See the "fan" section for a description of the above parameters.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed: 1
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
stepper: stepper_x, stepper_y, stepper_z, stepper_z1
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

# Hotend fan for Input Shaping
#[fan_generic extruder_partfan1]
#pin: toolhead: PA0

###########################################
#  Chamber LED
###########################################

[led caselight]
white_pin: PE5
initial_WHITE: 0.0

[gcode_macro _CASELIGHT_STATE]
variable_auto: 0
gcode:
  # state variable - do not remove

[delayed_gcode caselight_auto]
initial_duration: 5
gcode:
  {% set auto = printer["gcode_macro _CASELIGHT_STATE"].auto %}
  {% if auto == 1 %}
    {% if printer.extruder.temperature > 148 %}
      SET_LED LED=caselight WHITE=1.0
    {% elif printer.extruder.temperature < 144 %}
      SET_LED LED=caselight WHITE=0.0
    {% endif %}
  {% endif %}
  UPDATE_DELAYED_GCODE ID=caselight_auto DURATION=5

[gcode_macro CASELIGHT_ON]
description: Turn caselight on (manual)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  SET_LED LED=caselight WHITE=1.0

[gcode_macro CASELIGHT_OFF]
description: Turn caselight off (manual)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  SET_LED LED=caselight WHITE=0.0

[gcode_macro CASELIGHT_AUTO_ON]
description: Enable temperature-based caselight control
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=1
  RESPOND MSG="Caselight AUTO ENABLED"

[gcode_macro CASELIGHT_AUTO_OFF]
description: Disable auto control (manual mode)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  RESPOND MSG="Caselight AUTO DISABLED (Manual mode)"

###########################################

[mcu]
# CAN bus is also available on this board
canbus_uuid: 5d6bf3d0366c

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
#serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_600056000650303448383620-if00
canbus_uuid: 3a7d8bd6d69c
#restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 27 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[cartographer touch]
#   The number of samples to use when doing a touch.
#   Constraints: minimum: 3
samples: 3
#   The maximum number of samples to do before giving up.
max_samples: 10
#   The number of noisy samples tolerated within the sliding window. The window size is calculated as samples + max_noisy_samples. A smaller value prevents cherry-picking good samples from a noisy sequence.
#   Constraints: minimum: 0
max_noisy_samples: 2
#   The maximum allowed nozzle temperature to use when touching the plate. This is set to 150C to avoid damaging your plate. Change this AT YOUR OWN RISK.
UNSAFE_max_touch_temperature: 150
#   Radius around the Z home position to do touch.
#   Constraints: minimum: 0.0
EXPERIMENTAL_home_random_radius: 0.0
#   Retract distance (in mm) between touch samples.
#   Constraints: minimum: 1.0
retract_distance: 2.0
#   Acceptable range (in mm) between touch samples.
#   Constraints: minimum: 0.001, maximum: 0.015
sample_range: 0.01

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3900
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5

[bed_mesh]
zero_reference_position: 120, 120 # The center of your bed based on nozzle
speed: 200
horizontal_move_z: 3
mesh_min: 25, 25 # Probe coordinates, not nozzle
mesh_max: 210, 210
probe_count: 20, 20
algorithm: bicubic
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[safe_z_home]
home_xy_position: 120, 93
speed: 80
z_hop: 10
z_hop_speed: 5

[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 3
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 25
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 220
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 115
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 35
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 193
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 117
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
##diag_pin: PG6
run_current: 0.9
#hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_y]
uart_pin: PD11
##diag_pin: PG9
run_current: 1.3
#hold_current: 0.55
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_z]
uart_pin: PC6
##diag_pin: PG10
run_current: 0.8
hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_z1]
uart_pin: PC7
##diag_pin: PG11
run_current: 0.8
hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 extruder]     #On EBB42 Toolhead
uart_pin: toolhead: PA15
run_current: 0.9
#hold_current: 0.55
interpolate: false
stealthchop_threshold: 0
sense_resistor: 0.110

########################################
#  TMC Auto Tune Motors configuration
########################################

[autotune_tmc stepper_x]
motor: creality-42-40
tuning_goal: performance

[autotune_tmc stepper_y]
#motor: creality-42-40
motor: omc-17hs19-2004s1
tuning_goal: performance

[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: performance

[autotune_tmc stepper_z1]
motor: creality-42-34
tuning_goal: performance

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal: performance

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[neopixel my_neopixel]
#pin: PB0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.941
#*# pid_ki = 1.113
#*# pid_kd = 1006.632
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 255.00
#*# pid_tolerance = 0.0200
#*# block_heat_capacity = 6.48170
#*# sensor_responsiveness = 0.117732
#*# ambient_transfer = 0.0605276
#*# fan_ambient_transfer = 0.0605276, 0.0653166, 0.0681276
#*# control = mpc
#*#
#*# [cartographer]
#*# z_backlash = 0.00838
#*#
#*# [cartographer coil]
#*# calibration = -4.3944869918286445e-05,-13.037795325037187,0.005232972884651018,1464.6219026628155
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.021460, -0.006052, 0.000442, 0.006949, 0.015247, 0.017864, 0.019576, 0.024295, 0.026665, 0.026450, 0.026477, 0.022197, 0.022215, 0.022251, 0.024142, 0.024384, 0.020137, 0.006827, -0.010614, -0.024691
#*# 	-0.023927, -0.012376, -0.003972, 0.000822, 0.007274, 0.013946, 0.013667, 0.017954, 0.020343, 0.022448, 0.022412, 0.020316, 0.020092, 0.017909, 0.013829, 0.011419, 0.005282, -0.005965, -0.014631, -0.028045
#*# 	-0.027895, -0.016752, -0.010310, -0.001968, 0.002637, 0.011626, 0.013604, 0.017855, 0.020011, 0.022394, 0.024304, 0.022439, 0.020334, 0.022250, 0.018196, 0.006999, -0.001787, -0.019074, -0.029913, -0.034266
#*# 	-0.032229, -0.023009, -0.014621, -0.008077, -0.000904, 0.009579, 0.010066, 0.013847, 0.020258, 0.020720, 0.022788, 0.023030, 0.022788, 0.022752, 0.017792, 0.007305, -0.001560, -0.009965, -0.016974, -0.029794
#*# 	-0.038822, -0.029601, -0.018978, -0.011967, -0.003306, 0.005250, 0.009805, 0.012157, 0.015993, 0.020303, 0.024581, 0.025038, 0.022698, 0.023200, 0.018690, 0.007296, -0.003723, -0.023178, -0.031872, -0.035964
#*# 	-0.051299, -0.040571, -0.031355, -0.022645, -0.013999, -0.005095, 0.001106, 0.005664, 0.010182, 0.016824, 0.021069, 0.021069, 0.021051, 0.018680, 0.014377, 0.001509, -0.007352, -0.018705, -0.027158, -0.044935
#*# 	-0.057325, -0.052046, -0.040360, -0.031580, -0.024855, -0.013944, -0.007252, -0.000737, 0.005962, 0.012660, 0.014790, 0.014781, 0.014808, 0.014340, 0.010317, -0.005168, -0.014058, -0.031163, -0.047475, -0.058063
#*# 	-0.066656, -0.059821, -0.048797, -0.040296, -0.031077, -0.019951, -0.013714, -0.004825, -0.000250, 0.008304, 0.008786, 0.010694, 0.010176, 0.006349, 0.001566, -0.011096, -0.022728, -0.037742, -0.051271, -0.060565
#*# 	-0.071111, -0.062506, -0.053430, -0.044150, -0.035400, -0.024486, -0.017932, -0.009027, -0.004499, 0.002257, 0.004400, 0.006537, 0.006564, 0.004179, -0.002001, -0.015430, -0.028469, -0.043985, -0.062071, -0.069196
#*# 	-0.075059, -0.064246, -0.057135, -0.048807, -0.039316, -0.030351, -0.019416, -0.014863, -0.006204, 0.000484, 0.004294, 0.006914, 0.006878, 0.002571, -0.006703, -0.019552, -0.032870, -0.048429, -0.061951, -0.077491
#*# 	-0.077798, -0.066180, -0.057625, -0.050499, -0.043627, -0.032450, -0.022056, -0.016988, -0.008540, -0.003994, -0.000150, 0.002751, 0.002724, -0.004371, -0.010632, -0.023841, -0.039610, -0.056924, -0.070904, -0.083982
#*# 	-0.083536, -0.072204, -0.063609, -0.054824, -0.045768, -0.034558, -0.025585, -0.021047, -0.009995, -0.006109, -0.003269, -0.003572, -0.007618, -0.014870, -0.020873, -0.036371, -0.048100, -0.063747, -0.081567, -0.097467
#*# 	-0.085981, -0.074611, -0.067711, -0.059109, -0.049774, -0.038568, -0.027351, -0.023020, -0.014345, -0.010251, -0.008051, -0.011896, -0.016166, -0.021241, -0.031833, -0.045154, -0.059083, -0.074045, -0.087702, -0.101354
#*# 	-0.092015, -0.080799, -0.073602, -0.064538, -0.055943, -0.044947, -0.033534, -0.027489, -0.022432, -0.020252, -0.015965, -0.020324, -0.025417, -0.033850, -0.044596, -0.055850, -0.067167, -0.082760, -0.099217, -0.110759
#*# 	-0.096241, -0.084811, -0.076165, -0.071217, -0.057679, -0.049091, -0.040112, -0.033299, -0.027209, -0.024581, -0.024317, -0.029117, -0.033716, -0.038017, -0.046822, -0.060270, -0.073270, -0.084644, -0.100552, -0.113147
#*# 	-0.099854, -0.088902, -0.079495, -0.068470, -0.059639, -0.050343, -0.043550, -0.037042, -0.032391, -0.030709, -0.030566, -0.034966, -0.039369, -0.046440, -0.054999, -0.068527, -0.079882, -0.091620, -0.107888, -0.119191
#*# 	-0.106922, -0.095303, -0.085889, -0.074979, -0.065809, -0.056997, -0.048430, -0.041881, -0.039097, -0.036680, -0.038835, -0.043408, -0.047760, -0.052613, -0.063164, -0.078413, -0.090300, -0.100013, -0.113732, -0.123495
#*# 	-0.112705, -0.101191, -0.089728, -0.078357, -0.067491, -0.058718, -0.051624, -0.049408, -0.042590, -0.038694, -0.042847, -0.045342, -0.051919, -0.060794, -0.071884, -0.083517, -0.094766, -0.106239, -0.119823, -0.129183
#*# 	-0.114903, -0.103627, -0.092148, -0.080719, -0.069597, -0.062721, -0.054124, -0.049235, -0.047017, -0.044520, -0.044795, -0.047396, -0.053507, -0.062307, -0.071878, -0.087722, -0.101148, -0.112620, -0.124381, -0.130821
#*# 	-0.125578, -0.111841, -0.100861, -0.089175, -0.079785, -0.070879, -0.060339, -0.057379, -0.051307, -0.048308, -0.043969, -0.044457, -0.050836, -0.059939, -0.075401, -0.091568, -0.103358, -0.114340, -0.128223, -0.136351
#*# min_x = 25.0
#*# min_y = 25.0
#*# max_x = 210.0
#*# max_y = 210.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer touch_model default]
#*# threshold = 1252
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4282792816736831,1.9159721116704684,0.8504412800019843,0.35551643538566063,0.47761610778606817,0.6892941834494336,-0.29771147387478136,-0.700157722259173,0.342608304576188,0.4417116193850831
#*# domain = 3.2102036742720864e-07,3.3816431300596765e-07
#*# z_offset = 0
#*# reference_temperature = 31.7
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
