# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.

[include EBB42.cfg]
[include mainsail.cfg]
[include input shaper.cfg]
[include adxl cartographer.cfg]
#[include adxl bed.cfg]
[exclude_object]
[include gcode arcs.cfg]
[include START_PRINT.cfg]
#[include END_PRINT.cfg]
#[include SHAKETUNE.cfg]
[include macros.cfg]
#[include Speed Test.cfg]
[include spoolman_macros.cfg]

# Driver0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: PG6
#endstop_pin: ^toolhead: PB3
position_min: -23
position_endstop: -23
position_max: 240
homing_speed: 75

# Driver1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9
position_min: -16
position_endstop: -16
position_max: 240
homing_speed: 75

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 245
homing_retract_dist: 0

# Driver3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 8

[extruder]
max_extrude_only_distance: 1000.0
step_pin: toolhead: PD0
dir_pin: !toolhead: PD1
enable_pin: !toolhead: PD2
heater_pin: toolhead: PB13
sensor_pin: toolhead: PA3
rotation_distance: 4.574354 #SET_EXTRUDER_ROTATION_DISTANCE EXTRUDER=extruder DISTANCE=4.5743538174
microsteps: 16
nozzle_diameter: 0.600
filament_diameter: 1.750
#control: mpc
heater_power: 34
cooling_fan: fan
                                      
##Rapid PETG##
#filament_density: 1.29
#filament_heat_capacity: 1.2

##Inland PETG-CF##
filament_density: 1.3 
filament_heat_capacity: 1.2

##Elegoo/DEEPLEE Basic PLA##
#filament_density: 1.26 
#filament_heat_capacity: 2

min_temp: 0
max_temp: 300
sensor_type: Generic 3950
min_extrude_temp: 0
max_extrude_cross_section: 50

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_Kp: 63.970
#pid_Ki: 1.143
#pid_Kd: 894.783
min_temp: 0
max_temp: 130

[temperature_sensor pi_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[multi_pin my_controller_fan_pins]
pins: PA8, PD12 # fans 0 & 1

[controller_fan my_controller_fan]
pin: multi_pin:my_controller_fan_pins
max_power: .8
shutdown_speed: 1
cycle_time: .1
hardware_pwm: false
kick_start_time: .1
#off_below: 0
#   See the "fan" section for a description of the above parameters.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed: 1
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
stepper: stepper_x, stepper_y, stepper_z, stepper_z1
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

# Hotend fan for Input Shaping
#[fan_generic extruder_partfan1]
#pin: toolhead: PA0

###########################################
#  Chamber LED
###########################################

[led caselight]
white_pin: PE5
initial_WHITE: 0.0

[gcode_macro _CASELIGHT_STATE]
variable_auto: 0
gcode:
  # state variable - do not remove

[delayed_gcode caselight_auto]
initial_duration: 5
gcode:
  {% set auto = printer["gcode_macro _CASELIGHT_STATE"].auto %}
  {% if auto == 1 %}
    {% if printer.extruder.temperature > 148 %}
      SET_LED LED=caselight WHITE=1.0
    {% elif printer.extruder.temperature < 144 %}
      SET_LED LED=caselight WHITE=0.0
    {% endif %}
  {% endif %}
  UPDATE_DELAYED_GCODE ID=caselight_auto DURATION=5

[gcode_macro CASELIGHT_ON]
description: Turn caselight on (manual)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  SET_LED LED=caselight WHITE=1.0

[gcode_macro CASELIGHT_OFF]
description: Turn caselight off (manual)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  SET_LED LED=caselight WHITE=0.0

[gcode_macro CASELIGHT_AUTO_ON]
description: Enable temperature-based caselight control
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=1
  RESPOND MSG="Caselight AUTO ENABLED"

[gcode_macro CASELIGHT_AUTO_OFF]
description: Disable auto control (manual mode)
gcode:
  SET_GCODE_VARIABLE MACRO=_CASELIGHT_STATE VARIABLE=auto VALUE=0
  RESPOND MSG="Caselight AUTO DISABLED (Manual mode)"

###########################################

[mcu]
# CAN bus is also available on this board
canbus_uuid: 5d6bf3d0366c

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
#serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_600056000650303448383620-if00
canbus_uuid: 3a7d8bd6d69c
#restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 27 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[cartographer touch]
#   The number of samples to use when doing a touch.
#   Constraints: minimum: 3
samples: 3
#   The maximum number of samples to do before giving up.
max_samples: 10
#   The number of noisy samples tolerated within the sliding window. The window size is calculated as samples + max_noisy_samples. A smaller value prevents cherry-picking good samples from a noisy sequence.
#   Constraints: minimum: 0
max_noisy_samples: 2
#   The maximum allowed nozzle temperature to use when touching the plate. This is set to 150C to avoid damaging your plate. Change this AT YOUR OWN RISK.
UNSAFE_max_touch_temperature: 150
#   Radius around the Z home position to do touch.
#   Constraints: minimum: 0.0
EXPERIMENTAL_home_random_radius: 0.0
#   Retract distance (in mm) between touch samples.
#   Constraints: minimum: 1.0
retract_distance: 2.0
#   Acceptable range (in mm) between touch samples.
#   Constraints: minimum: 0.001, maximum: 0.015
sample_range: 0.01

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3900
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5

[bed_mesh]
zero_reference_position: 120, 120 # The center of your bed based on nozzle
speed: 200
horizontal_move_z: 3
mesh_min: 25, 25 # Probe coordinates, not nozzle
mesh_max: 210, 210
probe_count: 20, 20
algorithm: bicubic
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[safe_z_home]
home_xy_position: 120, 93
speed: 80
z_hop: 10
z_hop_speed: 5

[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 3
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 25
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 220
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 115
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 35
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 193
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 117
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
##diag_pin: PG6
run_current: 0.9
#hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_y]
uart_pin: PD11
##diag_pin: PG9
run_current: 1.3
#hold_current: 0.55
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_z]
uart_pin: PC6
##diag_pin: PG10
run_current: 0.8
hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 stepper_z1]
uart_pin: PC7
##diag_pin: PG11
run_current: 0.8
hold_current: 0.5
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0
#driver_SGTHRS: 0

[tmc2209 extruder]     #On EBB42 Toolhead
uart_pin: toolhead: PA15
run_current: 0.9
hold_current: 0.55
interpolate: false
stealthchop_threshold: 0
sense_resistor: 0.110

########################################
#  TMC Auto Tune Motors configuration
########################################

[autotune_tmc stepper_x]
motor: creality-42-40
tuning_goal: performance

[autotune_tmc stepper_y]
#motor: creality-42-40
motor: omc-17hs19-2004s1
tuning_goal: performance

[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: performance

[autotune_tmc stepper_z1]
motor: creality-42-34
tuning_goal: performance

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal: silent
semin: 0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[neopixel my_neopixel]
#pin: PB0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.941
#*# pid_ki = 1.113
#*# pid_kd = 1006.632
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 255.00
#*# pid_tolerance = 0.0200
#*# block_heat_capacity = 7.30490
#*# sensor_responsiveness = 0.105548
#*# ambient_transfer = 0.0687033
#*# fan_ambient_transfer = 0.0687033, 0.0738729, 0.0783468
#*# control = mpc
#*#
#*# [cartographer]
#*# z_backlash = 0.00838
#*#
#*# [cartographer coil]
#*# calibration = -4.3944869918286445e-05,-13.037795325037187,0.005232972884651018,1464.6219026628155
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.006425, 0.002067, 0.011258, 0.015592, 0.022131, 0.028570, 0.028634, 0.032904, 0.033194, 0.039414, 0.035132, 0.035404, 0.033041, 0.028974, 0.028291, 0.024456, 0.013185, 0.006904, -0.000070, -0.004183
#*# 	-0.008408, -0.001839, 0.006888, 0.009281, 0.015573, 0.024490, 0.024920, 0.028519, 0.030972, 0.033130, 0.033567, 0.031370, 0.028972, 0.027001, 0.024865, 0.022479, 0.011625, 0.004917, 0.000339, -0.011113
#*# 	-0.015275, -0.009000, -0.002174, 0.002687, 0.009439, 0.017866, 0.020257, 0.022197, 0.024829, 0.028899, 0.028862, 0.028826, 0.028609, 0.024547, 0.024511, 0.018084, 0.009207, 0.002185, -0.008445, -0.009685
#*# 	-0.019139, -0.012761, -0.008130, -0.001654, 0.007364, 0.013829, 0.016206, 0.020055, 0.024636, 0.027247, 0.031290, 0.031317, 0.033649, 0.028837, 0.027138, 0.020458, 0.009642, 0.002314, -0.005944, -0.015417
#*# 	-0.028701, -0.021870, -0.014763, -0.005796, 0.002927, 0.009391, 0.011623, 0.015957, 0.020310, 0.026721, 0.028910, 0.031082, 0.031552, 0.028982, 0.024655, 0.016289, 0.007154, -0.001301, -0.010770, -0.014600
#*# 	-0.040306, -0.034279, -0.025521, -0.016702, -0.007751, 0.000723, 0.005077, 0.009914, 0.015900, 0.023100, 0.025259, 0.027403, 0.029120, 0.024965, 0.020684, 0.012231, 0.000864, -0.008096, -0.019339, -0.028038
#*# 	-0.050313, -0.043452, -0.034354, -0.025511, -0.016463, -0.007939, -0.001669, 0.002995, 0.007842, 0.016728, 0.019139, 0.018916, 0.021089, 0.016506, 0.012210, 0.003069, -0.007566, -0.018803, -0.032464, -0.038626
#*# 	-0.058824, -0.052366, -0.043504, -0.033915, -0.024853, -0.016083, -0.007336, -0.005116, 0.003372, 0.010326, 0.011997, 0.014635, 0.014617, 0.010235, 0.005704, -0.004993, -0.016714, -0.030127, -0.043672, -0.054552
#*# 	-0.065771, -0.058772, -0.049625, -0.040739, -0.031642, -0.020650, -0.013818, -0.009929, -0.003141, 0.003623, 0.006019, 0.008199, 0.008209, 0.006001, -0.000994, -0.013846, -0.027332, -0.038809, -0.056569, -0.063634
#*# 	-0.069854, -0.060651, -0.053685, -0.045562, -0.036178, -0.027144, -0.020524, -0.013977, -0.005009, 0.001532, 0.004177, 0.010665, 0.010414, 0.004336, -0.002911, -0.015833, -0.029288, -0.045014, -0.056899, -0.072395
#*# 	-0.074495, -0.062913, -0.058405, -0.051459, -0.040366, -0.031289, -0.022467, -0.017845, -0.009307, -0.004440, -0.000078, 0.002136, 0.004100, -0.002653, -0.009440, -0.022601, -0.038491, -0.053497, -0.069679, -0.081501
#*# 	-0.080327, -0.069151, -0.062699, -0.056045, -0.046346, -0.033345, -0.028388, -0.022110, -0.015003, -0.006759, -0.004320, -0.003853, -0.004105, -0.010726, -0.017517, -0.032948, -0.048707, -0.062396, -0.078628, -0.096901
#*# 	-0.083929, -0.075800, -0.067300, -0.060296, -0.051428, -0.039565, -0.030740, -0.023852, -0.017516, -0.013139, -0.010891, -0.012629, -0.016978, -0.021570, -0.032780, -0.046094, -0.059711, -0.075592, -0.091568, -0.103143
#*# 	-0.088744, -0.079458, -0.072771, -0.066028, -0.054592, -0.045722, -0.036661, -0.030056, -0.025369, -0.021216, -0.018647, -0.021091, -0.027713, -0.032169, -0.043708, -0.057101, -0.068822, -0.082559, -0.098174, -0.112381
#*# 	-0.091347, -0.084148, -0.077133, -0.070091, -0.059187, -0.049731, -0.040841, -0.034442, -0.030042, -0.027316, -0.027307, -0.029492, -0.036050, -0.040953, -0.052329, -0.065907, -0.077157, -0.088885, -0.104427, -0.116069
#*# 	-0.096179, -0.087870, -0.080834, -0.071861, -0.058698, -0.051528, -0.042678, -0.038212, -0.035792, -0.031644, -0.033592, -0.035820, -0.042455, -0.044979, -0.058375, -0.070035, -0.079039, -0.090890, -0.106806, -0.119791
#*# 	-0.103923, -0.095105, -0.087776, -0.076508, -0.065027, -0.058021, -0.048839, -0.044646, -0.042205, -0.038277, -0.040426, -0.044413, -0.049585, -0.057956, -0.067379, -0.078617, -0.090168, -0.101423, -0.115277, -0.124644
#*# 	-0.105616, -0.100780, -0.089490, -0.080461, -0.068740, -0.059546, -0.052854, -0.046240, -0.044045, -0.042106, -0.046040, -0.048778, -0.054987, -0.062227, -0.071464, -0.082995, -0.096573, -0.107981, -0.119708, -0.131217
#*# 	-0.110188, -0.103494, -0.091889, -0.084819, -0.073566, -0.064049, -0.057092, -0.050425, -0.048408, -0.048399, -0.050324, -0.055004, -0.061417, -0.070581, -0.077587, -0.091214, -0.102907, -0.114756, -0.128462, -0.135305
#*# 	-0.118244, -0.111157, -0.102014, -0.090690, -0.081111, -0.070188, -0.061489, -0.058471, -0.056268, -0.054064, -0.054553, -0.056342, -0.061343, -0.070042, -0.079351, -0.093168, -0.106780, -0.116729, -0.130747, -0.139600
#*# min_x = 25.0
#*# min_y = 25.0
#*# max_x = 210.0
#*# max_y = 210.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer touch_model default]
#*# threshold = 1252
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4299365010414418,1.9121454227652863,0.8446461818909704,0.3829611239307535,0.4930993542258832,0.6156811335094374,-0.3202698378818274,-0.619055094624254,0.35392102639956735,0.41074311383638457
#*# domain = 3.21254959150337e-07,3.382434514777695e-07
#*# z_offset = 0
#*# reference_temperature = 36.1
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
